@model Codesanook.AmazonS3.Models.AwsS3SettingPart
<fieldset>
    <legend>@T("AWS S3 Setting")</legend>

    <div>
        @Html.LabelFor(m => m.UseLocalStackS3)
        @Html.CheckBoxFor(m => m.UseLocalStackS3)
    </div>

    <div>
        @Html.LabelFor(m => m.LocalStackS3ServiceUrl)
        @Html.TextBoxFor(m => m.LocalStackS3ServiceUrl, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.LocalStackS3ServiceUrl, "*")
        <span class="hint">e.g. http://localhost:4572</span>
    </div>

    <div>
        @Html.LabelFor(m => m.AwsS3BucketName)
        @Html.TextBoxFor(m => m.AwsS3BucketName, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.AwsS3BucketName, "*")
        <span class="hint">e.g. static.example.com</span>
    </div>

    <div>
        @Html.LabelFor(m => m.AwsS3PublicUrl)
        @Html.TextBoxFor(m => m.AwsS3PublicUrl, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.AwsS3PublicUrl, "*")
        <span class="hint">e.g. http://static.example.com for CNAME that points to static.example.com.s3.amazonaws.com.</span>
    </div>

    <div>
        @Html.LabelFor(m => m.AwsS3ServiceUrl)
        @Html.TextBoxFor(m => m.AwsS3ServiceUrl, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.AwsS3ServiceUrl, "*")
        <span class="hint">e.g. https://s3.ap-southeast-1.amazonaws.com</span>
    </div>
</fieldset>
